/**
 * Modal CSS
 */

@media(min-width: 801px) {
    .modal {
        width: 640px;
        height: 480px;
    }
    .modal-content {
        height: 480px;
    }
}
@media(max-width: 800px) {
    .modal {
        width: 400px;
        height: 300px;
    }
    .modal-content {
        height: 300px;
    }
}

.modal-container {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1024;
}
.modal-overlay {
    background-color: black;
    cursor: pointer;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}
.modal {
    background-color: #eee;
    border: 1px solid gray;
    margin: 8% auto 0;
    position: relative;
    padding: 24px;
}
.modal-content {
    overflow: auto;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
    font-size: 14px;
    line-height: 10px;
    cursor: pointer;
}
.modal-close:hover {
    font-size: 18px;
}
